.sign-in-google button {
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.329);
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.sign-in-email button {
    background-color: transparent;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    background-color: rgb(6, 213, 109);
    color: white;
}