.sign-in-email{
   
    padding: 40px;
    display: flex;
    justify-content: center;
}

#box{
   
    width: 300px;
}

.sign-in-email h2{
    padding-bottom: 10px;
    font-size: 12pt;
}

.sign-in-email input{
    width: 90%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.329);
}

.sign-in-email a{
    text-decoration: none;
    color: dodgerblue;
}

#email, #password{
    margin: 15px;
    font-size: 10pt;
}

#password input{
    margin-bottom:5px ;
}